@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This website uses data for the current Top 5 Fantasy Football players at each position and shopws their stats.</p>
